#menu {
    background: linear-gradient(lightblue, rgb(43, 220, 226));
    color: #ffffff;
    width: 100%;
    height: 50px;
    line-height: 30px;
    font-family: Verdana;
    font-weight: bold;
    font-size: 15px;
    margin: 0px;
    text-align: center;
}

.menu-item {
    text-shadow: 2px 2px #000000;
}

#menu li{
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
}

a {
    color: #ffffff;
    text-decoration: none;
}

#menu li:hover{
    background-color: rgb(192, 138, 243);
}


.dropdown a{
    text-decoration: none;
    font-weight: 100;
    font-size: 16px;
    display: block;
}

.dropdown > li {
    position: relative;
    display: inline-block;
}

.dropdown > li > a {
    color: #ffffff;
}

.dropdown > li ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 250px;
    border: 2px solid #e2e2e2;
    background-color: #ffffff;
}

.dropdown > li ul li a {
    color: #333;
    padding: 10px 15px;
    border-bottom: 1px solid #e2e2e2;
}

.dropdown > li:hover ul {
    display: block;
}